body {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;

    background: rgb(2,0,36);

    background: linear-gradient(190deg, rgba(138,114,128,1) 0%, rgba(177,150,157,1) 35%, rgba(152,137,116,1) 100%);

  }



  .login-box {

    width: 300px;

    padding-left: 20px;

    padding-right: 20px;

    padding-bottom: 20px;

    background-color: #ffffff;

    border-radius: 5px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    
    background: linear-gradient(190deg, rgba(138,114,128,1) 0%, rgba(177,150,157,1) 35%, rgba(152,137,116,1) 100%);

  }



  .login-box h2 {

    text-align: center;

    margin-bottom: 20px;

    font-family: Tahoma, Regular;

    color: white;

  }



  .login-box input[type="text"]{
      width: 100%;

      padding: 10px;

      margin-bottom: 30px; /* רווח בין התיבות והכפתור */

      border: 1px solid #ccc;

      border-radius: 4px;

      box-sizing: border-box;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      background-color: rgb(187, 160, 160);
  }

  .login-box input[type="password"] {

    width: 100%;

    padding: 10px;

    margin-bottom: 30px; /* רווח בין התיבות והכפתור */

    border: 1px solid #ccc;

    border-radius: 4px;

    box-sizing: border-box;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
    background-color: rgb(187, 160, 160);

    

    font-weight: bold;

    

  }



  .login-box button {

    width: 100%;

    padding: 10px;

    background-color: #4CAF50;

    color: #ffffff;

    border: none;

    border-radius: 4px;

    cursor: pointer;

  }



  .login-box button:hover {

    background-color: #45a049;

  }

  .login-box input[type="password"]::placeholder,
  .login-box input[type="text"]::placeholder 
  {
    color: white;
  }

  

